Project/WT.pro.user
build-WT-Desktop5-Debug
build-WT-Desktop5-Release
build-WT-Desktop5-Profile
Tools/ExternPluginMaker/ExternPluginMaker/build
Tools/ExternPluginMaker/ExternPluginMaker/ExternPluginMaker.pro.user
Project/build
Tools/ExternPluginMaker/build-ExternPluginMaker-Desktop5-Debug
*.wtp
*.deb
LinuxInstaller/WhippyTerm_*

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
