[Desktop Entry]
Name=Whippy Term
Comment=A modern term program.
Exec=whippyterm
Icon=whippyterm.png
Categories=Development
Terminal=false
Type=Application
Keywords=Term;Serial;Serial Terminal;Whippy Term;

Name[en_CA]=WhippyTerm
